/* link,visited,hover,active  */

a:link{
    color: orange;
}

a:visited{
    color: red;
}

a:hover{
    color: green;
}

a:active{
    color: black;
}


input:focus{
    padding: 5px;
    outline: none;
    border: 2px solid green;
}
input:required{
    color: red;
}


/* important*/
/* first-child , first-of-type */
/* last-child, last-of-child */